[Desktop Entry]
Type=Application
Name[az]=Camorama Veb Kamera Nümayişçisi
Name[bg]=Camorama - програма за уеб камера
Name[bs]=Camorama Webcam program za prikazivanje
Name[ca]=Visualitzador de càmera web Camorama
Name[cs]=Prohlížeč webových kamer Camorama
Name[da]=Camorama - netkamerafremviser
Name[de]=Camorama Webcam-Betrachter
Name[dz]=ཀེ་མོ་ར་མ་ཝེབ་ཀེམ་མཐོང་བྱེད་
Name[en_CA]=Camorama Webcam Viewer
Name[en_GB]=Camorama Webcam Viewer
Name[es]=Visor de cámara web Camorama
Name[eu]=Camorama Web camera ikustailea
Name[fa]=Camorama Webcam Viewer
Name[fi]=Camorama - Webbikameran katselin
Name[fr]=Visionneur de webcam Camorama
Name[ga]=Amharcóir Webcam Camorama
Name[gl]=Camorama visualizador de cámara web
Name[gu]=કેમોરામા વેબકેમ દર્શક
Name[hi]=केमोरामा वेबकेम दर्शक
Name[hr]=Camorama preglednik za web kamere
Name[it]=Visualizzatore per webcam Camorama
Name[ja]=Camorama ウェブカム・ビューア
Name[lv]=Camorama vebkameru skatītājs
Name[mk]=Каморама вебкам прегледувач
Name[ms]=Pelihat Webcam Camorama
Name[nb]=Camorama nettkamera-visning
Name[ne]=कामोरामा वेबक्याम प्रदर्शक
Name[nl]=Camorama webcamprogramma
Name[pa]=ਕੈਮੋਰਾਮਾ ਵੈੱਬਕੈਮ ਦਰਸ਼ਕ
Name[pl]=Camorama - kamera internetowa
Name[pt]=Camorama - Visualizador de Câmara da Web
Name[pt_BR]=Visualizador de Webcam Camorama
Name[sl]=Camorama pregledovalnik spletne kamere
Name[sq]=Camorama, shikuesi për webcam
Name[sr]=Каморама веб камера прегледач
Name[sr@Latn]=Kamorama veb kamera pregledač
Name[sv]=Webbkameravisaren Camorama
Name[ta]=Camorama Å¨ÄôÀ¼ì¸ÕÅ¢ À¡÷¨ÅÂ¡Ç÷ ¸¡ðÊ
Name[tr]=Camorama Web Kamerası İzleyicisi
Name[uk]=Робота з веб-камерою
Name[vi]=Bộ xem máy ảnh Mạng Camorama
Name[zh_CN]=Camorama 摄像头查看器
Name[zh_TW]=Camorama 網路攝影機檢視器
Name=Camorama Webcam Viewer
Comment[az]=Veb kameranızdan rəsmləri nümayiş edin, dəyişdirin və qeyd edin
Comment[be]=Праглядае, зьмяняе й захоўвае відарысы з web-камэры
Comment[bg]=Преглед, промяна и запис на изображения от уеб камера 
Comment[bs]=Pogledaj izmjeni i sačuvaj slike sa webkamere
Comment[ca]=Visualitza, altera i desa imatges d'una càmera web
Comment[cs]=Prohlížení, úprava a ukládání obrázků z webové kamery
Comment[da]=Vis, justér og gem billeder fra et netkamera
Comment[de]=Webcam-Bilder anzeigen, bearbeiten und speichern
Comment[dz]=ཝེབ་ཀེམ་ཅིག་ལས་  ལྟ་ནི་སོར་ནི་དང་གཟུགས་བརྙན་ཚུ་སྲུང་
Comment[en_CA]=View, alter and save images from a webcam
Comment[en_GB]=View, alter and save images from a webcam
Comment[es]=Ver, alterar y guardar imágenes desde una cámara web
Comment[eu]=Irudiak web kamera batetik ikusi, aldatu eta gorde
Comment[fi]=Katsele, muuta ja tallenna kuvia webbikamerasta
Comment[fr]=Affiche, modifie et enregistre les images provenant d’une webcam
Comment[gl]=Mostrar, modificar e gardar imaxes desde a cámara web
Comment[gu]=વેબકેમમાંથી ચિત્રો જુઓ, બદલો અને સંગ્રહો
Comment[hi]=वेबकेम से प्रतिमा देखें, बदलें और संग्रहित करें
Comment[hr]=Pregledavajte, promijenite i spremite slike s web kamere
Comment[it]=Visualizza, modifica e salva immagini dalla webcam
Comment[ja]=WebCam の画像の表示や保存を行います
Comment[lv]=Skīties, pārveidot un saglabāt attēlus no vebkameras
Comment[mk]=Поглед, извести и сними слики од вебкамера
Comment[ms]=Lihat, ubah dan simpan imej drpd webcam
Comment[nb]=Vis, endre og lagre bilder fra et nettkamera
Comment[ne]=दृश्य, वेबक्यामबाट छविहरू परिवर्तन र बचत गर्नुहोस्
Comment[nl]=Beelden van een webcam bekijken, bewerken of opslaan
Comment[pa]=webcam ਤੋਂ ਚਿੱਤਰ ਵੇਖੋ,ਬਦਲੋ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Wyświetla, modyfikuje i zapisuje obrazy z kamery internetowej
Comment[pt]=Ver, alterar e guardar imagens de uma câmara da Web
Comment[pt_BR]=Ver, alterar e gravar imagens de uma webcam
Comment[sl]=Poglej, spremeni in shrani slike preko spletne kamere
Comment[sq]=Shiko, ndrysho dhe ruaj imazhet nga një webcam
Comment[sr]=Погледај, измени и сачувај снимке са веб камере
Comment[sr@Latn]=Pogledaj, izmeni i sačuvaj snimke sa veb kamere
Comment[sv]=Visa, redigera och spara bilder från en webbkamera
Comment[ta]=Å¨ÄôÀ¼ì¸ÕÅ¢யில் இருக்கும் பிம்ப பார்க்க, மாற்ற மற்றும் சேமிக்கலாம்
Comment[tr]=Web kamerası görüntülerini izle, değiştir ve sakla
Comment[uk]=Показ, зміна і збереження зображень з веб-камери
Comment[vi]=Xem, sửa đổi và lưu ảnh từ máy ảnh Mạng.
Comment[zh_CN]=查看、控制并保存摄像头的图像
Comment[zh_TW]=檢視、交換與儲存網路攝影機的影像
Comment=View, alter and save images from a webcam
Icon[az]=camorama
Icon[be]=camorama
Icon[bg]=camorama
Icon[bs]=camorama
Icon[ca]=camorama
Icon[cs]=camorama
Icon[da]=Camorama
Icon[de]=Camorama
Icon[dz]=ཀེ་མོ་ར་མ་
Icon[en_CA]=camorama
Icon[en_GB]=camorama
Icon[es]=camorama
Icon[eu]=camorama
Icon[fa]=camorama
Icon[fi]=camorama
Icon[fr]=camorama
Icon[ga]=camorama
Icon[gl]=camorama
Icon[hi]=केमोरामा
Icon[hr]=camorama
Icon[it]=camorama
Icon[ja]=camorama
Icon[lv]=camorama
Icon[mk]=каморама
Icon[ms]=camorama
Icon[nb]=camorama
Icon[ne]=कामोरामा
Icon[nl]=camorama
Icon[pa]=ਕੈਮੋਰਾਮਾ
Icon[pl]=camorama
Icon[pt]=camorama
Icon[pt_BR]=camorama
Icon[sl]=camorama
Icon[sq]=camorama
Icon[sr]=Каморама
Icon[sr@Latn]=Kamorama
Icon[sv]=camorama
Icon[ta]=கமொராமா
Icon[tr]=camorama
Icon[uk]=camorama
Icon[vi]=camorama
Icon[zh_CN]=camorama
Icon[zh_TW]=camorama
Icon=camorama
Exec=AppRun
Terminal=0
Categories=GNOME;AudioVideo;Video;
Keywords[da]=camorama;webkamera;webcam;fremviser;videoeffekter;
Keywords[de]=camorama;webcam;viewer;video-effects;
Keywords[es]=camorama;webcam;viewer;video-effects;
Keywords[fi]=camorama;webbikamera;katselin;videoeffektit;
Keywords[fr]=camorama;webcam;visionneur;effets;vidéo;
Keywords[hi]=केमोरामा; वेब कैमरा; दर्शक; वीडियो प्रभाव;
Keywords[hr]=camorama;web kamera;preglednik;video-efekti;
Keywords[it]=camorama, webcam, visualizzatore, effetti video;
Keywords[ja]=camorama;webcam;viewer;video-effects;
Keywords[nb]=camorama;webcam;nettkamera;viser;videoeffekter;
Keywords[nl]=camorama;webcam;viewer;video-effecten;
Keywords[pl]=camorama;webcam;viewer;video-effects;kamerka;internetowa;
Keywords[pt]=camorama;câmara da Web;visualziador;efeitos de vídeo;
Keywords[pt_BR]=camorama;webcam;visualizador;efeitos-de-video;
Keywords[sv]=camorama;webcam;visare;videoeffekter;
Keywords[tr]=camorama;webcam;görüntüleyici;video-efektleri;
Keywords[uk]=camorama;webcam;viewer;video-effects;каморама;вебкамера;камера;переглядач;відеоефекти;
Keywords[zh_CN]=camorama;webcam;viewer;video-effects;摄像头;查看器;视频特效
Keywords=camorama;webcam;viewer;video-effects;
StartupNotify=true
